# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.dmypy.json
dmypy.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Allure
allure-results/
allure-report/

# WebDriver
chromedriver.exe
geckodriver.exe
msedgedriver.exe

# Secrets
.env
secrets.py
config/secrets.py

# OS
.DS_Store
Thumbs.db
